<div class='navbar navbar-default'>
    <div class='container-fluid'>
        <div class='navbar-header'>
            <a href='home' class='navbar-brand' >TripBuilder</a>
        </div>
        <nav>
            <a class="btn" routerLink='home' routerLinkActive="active">Home</a>
            <a class="btn" routerLink='trips' routerLinkActive="active">Trips</a>
            <a class="btn" routerLink="pois" routerLinkActive="active">POIs</a>
            <a class="btn" routerLink="mytrips" routerLinkActive="active">MyTrips</a>
            <a class="btn" routerLink="favorites" routerLinkActive="active">Favorites</a>
            <a class="btn" routerLink="login" routerLinkActive="active">Login</a>
            <a class="btn" routerLink="search" routerLinkActive="active">Search</a>
        </nav>

    </div>
</div>
