<!-- Highlighted trip info and link to it's Trip page -->
<h1 style="text-align:center;">Highlighted Trip: Keweenaw Peninsula, Michigan</h1>

<div class="imgs" style="text-align:center;">
    <img src='../../../assets/imgs/247176235_10227399456276272_7127757350430900274_n.jpg' alt="Keewanaw Mountaintop" >
</div>


<h3 style="text-align:center;">A fall adventure along the coast of Lake Superior, in one of the mort remote places in the United States, The Keweenaw Peninsula.</h3>

<div class='butts' style="text-align:center;">
    <button class="button buttonTrip" onclick='window.location.href="keweenaw"'>See This Trip</button> <div class="divider"></div>

<br/> 


