<h1>Welcome to your profile page</h1>
<h2><img
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ5PdxXFw4u3BRG4166i7Nbkx0VyGGNt0hWc3loNeD7GIL4nbbo&usqp=CAU" />
</h2>
<!-- Buttons for User Links -->
<div>
  <br/>
  <button class="button" onclick='window.location.href="mytrips"'>Your Trips</button>
  <br/>
  <!-- EDIT PROFILE CURRENTLY POINTS BACK TO SIGNUP -->
  <button class="button" onclick='window.location.href="signup"'>Edit Profile</button>
  <br/>
</div>


<a href="http://localhost:4200/login"> <button>Logout</button></a>