
<h1>Welcome to TripBuilder!</h1>
<img src='https://cdn2.wanderlust.co.uk/media/1115/articles-a-pretty-picture-is-not-enough-it-needs-to-be-original-photo-mike-baird1.jpg?anchor=center&mode=crop&width=1200&height=0&rnd=131455539260000000' alt="Girl in a jacket" style="width:300px;height:200px;">
<h3>We welcome you to build your own trips, share past trips and view others to help you plan future trips. We aim to help you make the most of your vacations, long weekends, day trips or time of decompression.</h3>

<button class="button button1" onclick='window.location.href="create-account"'>Create an Account</button> <a>OR</a> <button class="button button2" onclick='window.location.href="login"'>Login to an Account</button>