<!-- MyTrips Page component -->
<h1 style="text-align:center;">My Trips</h1>

<div class="imgs" style="text-align:center;">
    <img src='../../../assets/imgs/247176235_10227399456276272_7127757350430900274_n.jpg' alt="Keewanaw Mountaintop" >
</div>


<h3 style="text-align:center;">Keweenaw Peninsula, Michigan</h3>

<div class='butts' style="text-align:center;">
    <button class="button buttonTrip" onclick='window.location.href="keweenaw"'>See This Trip</button> <div class="divider"></div>

<br/>

<div class="imgs" style="text-align:center;">
    <img src='../../../assets/imgs/Mac Bridge.jpg' alt="Mighty Mac Bridge" >
</div>


<h3 style="text-align:center;">St. Ignace and Mackinac City, MI</h3>

<div class='butts' style="text-align:center;">
    <button class="button buttonTrip" onclick='window.location.href="mytrips"'>See This Trip</button> <div class="divider"></div>

<br/>

<div class="imgs" style="text-align:center;">
    <img src='../../../assets/imgs/Frankenmuth.jpg' alt="Keewanaw Mountaintop" >
</div>


<h3 style="text-align:center;">Frankenmuth, MI</h3>

<div class='butts' style="text-align:center;">
    <button class="button buttonTrip" onclick='window.location.href="mytrips"'>See This Trip</button> <div class="divider"></div>

<br/>
<div class="imgs" style="text-align:center;">
    <img src='../../../assets/imgs/Guatemala.jpg' alt="Guatemala" >
</div>


<h3 style="text-align:center;">Antigua, Guatemala</h3>

<div class='butts' style="text-align:center;">
    <button class="button buttonTrip" onclick='window.location.href="mytrips"'>See This Trip</button> <div class="divider"></div>

<br/>
<div class="imgs" style="text-align:center;">
    <img src='../../../assets/imgs/Sheboygan Kayaking.jpg' alt="Sheboygan Kayak" >
</div>


<h3 style="text-align:center;">Kayaking Sheboygan, WI</h3>

<div class='butts' style="text-align:center;">
    <button class="button buttonTrip" onclick='window.location.href="mytrips"'>See This Trip</button> <div class="divider"></div>

<br/>
<div class="imgs" style="text-align:center;">
    <img src='../../../assets/imgs/Rio.jpg' alt="Keewanaw Mountaintop" >
</div>


<h3 style="text-align:center;">Rio de Janeiro, Brazil</h3>

<div class='butts' style="text-align:center;">
    <button class="button buttonTrip" onclick='window.location.href="mytrips"'>See This Trip</button> <div class="divider"></div>

<br/>
<br />

