
<h1 style="text-align:center;">to TripBuilder!</h1>

<div class="imgs" style="text-align:center;">
    <img src='https://cdn2.wanderlust.co.uk/media/1115/articles-a-pretty-picture-is-not-enough-it-needs-to-be-original-photo-mike-baird1.jpg?anchor=center&mode=crop&width=1200&height=0&rnd=131455539260000000' alt="Girl in a jacket" style="width:300px;height:200px;">
    <div class="divider2"></div>
    <img src='https://image.shutterstock.com/image-illustration/hotel-sign-stars-3d-illustration-260nw-195879770.jpg' alt="Hotel Front" style="width:300px;height:200px;">
</div>


<h3 style="text-align:center;">We welcome you to build your own trips, share past trips and view others to help you plan future trips. We aim to help you make the most of your vacations, long weekends, day trip or time of decompression.</h3>

<div class='butts'>
    <button class="button button1" onclick='window.location.href="signup"'>Create an Account</button> <div class="divider"></div> <a>OR</a> <div class="divider"></div><button class="button button2" onclick='window.location.href="login"'>Login to an Account</button>
</div> 
