<div style="text-align:center;">
    <img class="pics" src='../../../assets/imgs/Travel_Insights_with_Google_Hero_Image_1.max-1000x1000.jpg' alt="desertroad" />
    <img class="pics" src='../../../assets/imgs/new-year-travel.jpg' alt="roadsign" />
    <img class="pics" src='../../../assets/imgs/time-to-travel-wooden-sign-beach-background-49509295.jpg' alt="travelsign" />
</div>

<!-- POI Page component -->
<h1 style="text-align:center;">Points of Interest</h1>
<br />
<h3 style="text-align:center;">Choose from various catagories:</h3>
<br />

<!-- PoIs -->
<div class="list">

    <ul style="border-color: black; border-style: solid; border-width: 25; ">
        <ul>
            <li><strong>Lodging</strong></li>
            <ul>
                <li>Indoors</li>
                <li>Outdoors</li>
            </ul>
        </ul>
        <ul>
            <li><strong>Restaurants</strong></li>
                <ul>
                    <li>Casual</li>
                    <li>Fine Dining</li>
                    <li>Fast Food</li>
                    <li>Food Court/Buffet</li>
                    <li>Experience</li>
                    <li>Bar/Brewery</li>
                    <li>Outdoors</li>
                </ul>
        </ul>
        <ul>
            <li><strong>Camping</strong></li>
                <ul><li>Campsite</li>
                    <li>State/Federal Parks</li>
                    <li>RV Parks</li>
                    <li>Wilderness</li>
                </ul>
        </ul>
        <ul>
            <li><strong>Shopping</strong></li>
                <ul>
                    <li>Area/Tourist Stores</li>
                    <li>Specialist/Destination Stores</li>
                    <li>Local Specialties</li>
                </ul>
        </ul>
        <ul>
            <li><strong>Activities:</strong></li>
                <ul>
                    <li><strong>Indoors:</strong></li>
                        <ul><li>Events</li>
                            <li>Tours</li>
                            <li>Destinations</li>
                            <li>Physical</li>
                            <li>Experiencial</li>
                        </ul>
                </ul>
                <ul>
                    <li><strong>Outdoors:</strong></li>
                        <ul><li>Events</li>
                            <li>Tours</li>
                            <li>Destinations</li>
                            <li>Physical</li>
                            <li>Experiencial</li>
                        </ul>
                </ul>
        </ul>
    </ul>
</div>
<br />
<div>

    <!-- blank spot -->

</div>
